{% extends 'base.html.twig' %}

{% block main %}
<div class="m-3">
    <h1 class="text-center">Add Book</h1>
    {{ form_start(form) }}
        <div class="row">
            <div class="col text-right">
                Title:
            </div>
            <div class="col">
                {{ form_widget(form.title) }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Author:
            </div>
            <div class="col">
                {{ form_widget(form.author) }}
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                {{ form_errors(form.cover) }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Cover file:
            </div>
            <div class="col">
                {{ form_widget(form.cover) }}
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                {{ form_errors(form.file) }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Book file:
            </div>
            <div class="col">
                {{ form_widget(form.file) }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Read date:
            </div>
            <div class="col">
                {{ form_widget(form.date) }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Allow downloading:
            </div>
            <div class="col">
                {{ form_widget(form.download) }}
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                {{ form_widget(form.save, { attr: {class: "btn btn-primary"} }) }}
            </div>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
