{% extends 'base.html.twig' %}

{% block title %}Book library{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Edit Book</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.author) }}
        {{ form_row(form.date) }}
        {{ form_row(form.download) }}
        {% if book.cover %}
            <img src="/uploads/covers/{{ book.cover }}"/>
        {% endif %}
        {{ form_row(form.deleteCover) }}
        {% if book.file %}
            <p>{{ book.file }}</p>
        {% endif %}
        {{ form_row(form.deleteFile) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
</div>
{% endblock %}
