{% extends 'base.html.twig' %}

{% block title %}Book Library{% endblock %}

{% block body %}

{% if app.user is not null %}
    {{ app.user.username }}
    <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a>
{% endif %}
<div>
    <h1>Book List</h1>
    <a href="/add">Add Book</a>
    <table>
        <thead>
            <tr>
                <td>Title</td>
                <td>Author</td>
                <td>Date</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
	            <td><a href="{{ path('view', {'id': book.id}) }}">{{ book.title }}</a></td>
                <td>{{ book.author }}</td>
                <td>{{ book.date|date("d/m/Y") }}</td>
                <td>
                {% if app.user is not null %}
                    <a href="{{ path('edit', {'id': book.id}) }}">Edit</a>
                    <a href="{{ path('delete', {'id': book.id}) }}">Delete</a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
