{% extends 'base.html.twig' %}

{% block main %}
<div class="m-3">
    <a href="/add" class="btn btn-primary">Add Book</a>
    <h1>Book List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books | slice((page-1)*5, 5) %}
            <tr>
	            <td class="align-middle"><a href="{{ path('view', {'id': book.id}) }}">{{ book.title }}</a></td>
                <td class="align-middle">{{ book.author }}</td>
                <td class="align-middle">{{ book.date|date("d/m/Y") }}</td>
                <td class="align-middle">
                    <div class="item-actions">
                    {% if app.user is not null %}
                        <a href="{{ path('edit', {'id': book.id}) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ path('delete', {'id': book.id}) }}" class="btn btn-danger">Delete</a>
                    {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pages > 1 %}
    <div class="d-flex flex-row">
        <div class="flex-grow-1">
            Showing {{ (page-1)*5+1 }} to {% if page == pages %}{{ books|length }}{% else %}{{ (page-1)*5+5 }}{% endif %} of {{ books|length }} books
        </div>
        <nav>
            <ul class="pagination">
                <li class="page-item{% if page == 1 %} disabled{% endif %}">
                    <a class="page-link" href="{{ path('index', { 'page': page - 1 }) }}">Previous</a>
                </li>
                {% for i in 1..pages %}
                    {% if (page - loop.index)|abs < 2 %}
                        <li class="page-item{% if page == loop.index %} active{% endif %}">
                            <a class="page-link" href="{{ path('index', { 'page': loop.index }) }}">{{ loop.index }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="page-item {% if page == pages %} disabled{% endif %}">
                    <a class="page-link" href="{{ path('index', { 'page': page + 1 }) }}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    {% endif %}
</div>
{% endblock %}
